.Result {
    text-align: center;
  }
  
  .Result-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Result-title {
    margin-bottom: 2rem;
  }
  
  .Result-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Result-item {
    margin-bottom: 1rem;
  }
  
  .Result-label {
    font-weight: bold;
  }
  
  .Result-value {
    margin-left: 0.5rem;
  }
  